<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qyu4.theallswap" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".View.LaunchingPage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserEditInventoryActivity"
            android:label="@string/title_activity_user_edit_inventory" >
        </activity>
        <activity
            android:name=".View.UserLogin"
            android:label="@string/title_activity_user_login" >
        </activity>
        <activity
            android:name=".View.UserRegister"
            android:label="@string/title_activity_user_register" >
        </activity>
        <activity
            android:name=".View.UserMainView"
            android:label="@string/title_activity_user_main_viewing" >
        </activity>
        <activity
            android:name=".View.UserInventory"
            android:label="@string/title_activity_user_inventory" >
        </activity>
        <activity
            android:name=".View.UserTrade"
            android:label="@string/title_activity_user_trade" >
        </activity>
        <activity
            android:name=".View.UserFriends"
            android:label="@string/title_activity_user_friends" >
        </activity>
        <activity
            android:name=".View.UserProfile"
            android:label="@string/title_activity_user_profile" >
        </activity>
        <activity
            android:name=".View.Search"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name=".View.PreviousBrowsedTrade"
            android:label="@string/title_activity_previous_browsed_trade" >
        </activity>
        <activity
            android:name=".View.AddInventoryItem"
            android:label="@string/title_activity_add_inventory_item" >
        </activity>
        <activity
            android:name=".View.SingleFriendProfile"
            android:label="@string/title_activity_single_friend_profile" >
        </activity>
        <activity
            android:name=".View.EditSingleItem"
            android:label="@string/title_activity_edit_single_item" >
        </activity>
        <activity
            android:name=".View.UserInventoryWithImage"
            android:label="@string/title_activity_user_inventory_with_image" >
        </activity>
        <activity
            android:name=".View.CreateTrade"
            android:label="@string/title_activity_create_trade" >
        </activity>
        <activity
            android:name=".View.AddFriend"
            android:label="@string/title_activity_add_friend"
            android:parentActivityName=".View.UserFriends" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.qyu4.theallswap.View.UserFriends" />
        </activity>
        <activity
            android:name=".View.ItemProfile"
            android:label="@string/title_activity_item_profile"
            android:parentActivityName=".UserInventory" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="UserInventory" />
        </activity>
        <activity
            android:name=".View.EditUserProfile"
            android:label="@string/title_activity_edit_user_profile" >
        </activity>
        <activity
            android:name=".View.UserTradesHub"
            android:label="@string/title_activity_user_trades_hub" >
        </activity>
        <activity
            android:name=".View.PendingTrades"
            android:label="@string/title_activity_pending_trades" >
        </activity>
        <activity
            android:name=".View.CompletedTrades"
            android:label="@string/title_activity_completed_trades" >
        </activity>
        <activity
            android:name=".View.TopTraders"
            android:label="@string/title_activity_top_traders" >
        </activity>
        <activity
            android:name=".View.TestingEs"
            android:label="@string/title_activity_testing_es" >
        </activity>
        <activity
            android:name=".View.SingleUserFullInventory"
            android:label="@string/title_activity_single_user_full_inventory" >
        </activity>
    </application>

</manifest>
